@{
    ViewBag.Title = "Toplanti Basvurma";
}
<h1 class="h4 text-center">Toplanti Katilim Formu</h1>
<form action="">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" id="Name" class="form-control">

    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Phone</label>
        <input type="text" name="Phone" id="Phone" class="form-control">

    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" name="Email" id="Email" class="form-control">

    </div>
    <div class="mb-3">
        <label for="WillAttend" class="form-label">Katilim Durumu</label>
        <select name="WillAttend" id="WillAttend" form="form-select">
            <option value="true">Evet, Geliyorum</option>
            <option value="false">Hayir, Gelemiyorum</option>
        </select>

    </div>

    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>