@model UserInfo

@{
    ViewBag.Title = "Toplanti Basvurma";
}
<h1 class="h4 text-center">Toplanti Katilim Formu</h1>
<form method="post" action="">
    <div class="mb-3">
        <label user-for= "Name" class="form-label">Name</label>
        <input user-for= "Name" class="form-control">

    </div>
    <div class="mb-3">
        <label user-for= "Phone" class="form-label">Phone</label>
        <input user-for= "Phone" class="form-control">

    </div>
    <div class="mb-3">
        <label user-for= "Email" class="form-label">Email</label>
        <input user-for= "Email" class="form-control">

    </div>
    <div class="mb-3">
        <label user-for= "WillAttend" class="form-label">Katilim Durumu</label>
        <select user-for= "WillAttend" form="form-select">
            <option value="true">Evet, Geliyorum</option>
            <option value="false">Hayir, Gelemiyorum</option>
        </select>

    </div>

    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>