@{
    ViewBag.Title = "Toplanti Index";
}

<main class="text-center">


<h1 class="h4">Toplanti Ozeti</h1>
<p>Toplantiya sizinle birlikte 20 kisi katiliyor</p>
<a class="btn btn-sm btn-outline-primary" href="#">Katilimcilari Listele</a>

</main>