@{
    ViewBag.Title = "Toplanti Listesi";
}

<main class="text-center">


<h1 class="h4">Toplantiya Katilim Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad:</td>
            <td>Email</td>
            <td>Katilim Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sadik Turan</td>
            <td>info@sadikturan.com</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Ercan Kabali</td>
            <td>info@ercankabali.com</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>

</main>
