@model UserInfo

@{
    ViewBag.Title = "Basvuru Durumu";
}

<main class="text-center">


<h1 class="h4">Basvuru Durumu</h1>

   @if(Model.WillAttend == true)
   {
    <p>Tesekkurler, @Model.Name toplantiya sizinle birlikte @ViewBag.UserCount kisi katiliyor</p>
    <a class="btn btn-sm btn-outline-primary" asp-controller = "Meeting" asp-action = "List">Katilimcilari Listele</a>
   } else {
    <p>
        @Model.Name, katilmadigindan dolayi uzgunuz.
    </p>
    <a href="/meeting/apply" class="btn btn-sm btn-outline-primary">Basvuru Formu</a>
   }

</main>